h1{
    color:black;
    text-align:center;
}
h2{
    font-family:system-ui;
    font-size:23px;
}
p{
    font-family:"Times New Roman";
    font-size:20px;
}
#quote{
    color:brown;
    font-family:Georgia, serif;
    font-style: italic;
    font-size:20px;
}
.center{
    text-align:center;
}
.right{
    text-align:right;
}
a:link{
    color:#000000;
    text-decoration:none;
}
a:visited{
    color:#00FF00;
    text-decoration:none;
}
a:hover{
    color:#FF00FF;
    text-decoration:underline;
}
a:active{
    color:#0000FF;
    text-decoration:underline;
}
ul{
    list-style-type:square;
}